@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("VerificarUsuario", "Home"))
{
    <input type="text" name="reportName" />
    <input type="submit" />
}

<h3>@ViewBag.Respuesta</h3>


