
@{
    ViewBag.Title = "Departamento";


    List<string> Departamentos = new List<string>
    { "LIMA","ANCASH","AREQUIPA","CAJAMARCA","CUSCO","HUANUCO",
      "JUNIN","LA LIBERTAD","LAMBAYEQUE","PIURA","PUNO","UCAYALI"};
}



<div class="container well">
    <h1>Bienvenido @ViewBag.nombre</h1>

    <h2>En que departamento estás?</h2>
    <div class="row">
        <div class="col-lg-6">

            <div class="list-group text-center" id="lista_departamentos">
                @{
                    foreach (string departamento in Departamentos)
                    {
                        @Html.ActionLink(@departamento, "Mall", "Home", new { departamento = @departamento }, new { @class = "list-group-item list-group-item-action" })
                    }
                }
            </div>
        </div>
    </div>



</div>


