@{
    ViewBag.Title = "Home Page";
}



    
    <div class="well container">
        <div class="row">
            <div class="col-lg-12" id="color1">
                    <h1 class="text-center"><strong>Ya tienes una cuenta?</strong></h1>
                    <p class="text-info text-center">Ingresa a tu cuenta y disfruta de los beneficios que Real Plaza tiene para ti.</p>
                    
                <a href="/Home/SignIn"><input type="image" id="logo-con" src="~/Content/img/logo-conecta.jpg"  /></a>
                
            </div>
            </div>
            <div class="row" style="padding-top:20px">
            <div class="col-lg-12" id="color2">
                <h1 class="text-center"><strong>Usuario Nuevo?</strong></h1>
                <p class="text-info text-center">Crea una cuenta y vive la agradable experiencia que brindamos a nuestros clientes.</p>

               <a href="/Home/SignUp"><input type="image" id="logo-res" src="~/Content/img/logo-registro.jpg" /> </a>
                
            </div>
        </div>
    </div>
    

    
    

     

  



