@{
    ViewBag.Title = "Home Page";
}


    <div class="panel-falso"></div>


    <div class="well">
        <div class="row">
            <div class="col-lg-6" id="color1">
                    <h1 class="text-center"><strong>Ya tienes una cuenta?</strong></h1>
                    
                    <p>@Html.ActionLink("Conectate!", "SignIn", "Home")</p>
                
            </div>

            <div class="col-lg-6" id="color2">
                <h1 class="text-center"><strong>Usuario Nuevo?</strong></h1>
                <p>@Html.ActionLink("Registrate!", "SignUp", "Home")</p>
                
            </div>
        </div>
    </div>
    

    
    

     

  



