@using SolucionWeb.Controllers;

@{
    ViewBag.Title = "Mall";
}

<h2>Mall</h2>
<h3>Estás en @ViewBag.departamento</h3>


<h2>A qué mall deseas ir?</h2>

<div class="list-group">
    @{
        foreach (Mall mall in ViewBag.lista_malls)
        {
            @Html.ActionLink(@mall.inm_c_vnomb, "Rubro", "Home", new { mall = @mall.inm_c_vnomb }, new { @class = "list-group-item list-group-item-action" })
        }
    }
</div>