<footer class="panel-footer" id="panelito">
    <div class="row">
        <div class="col-md-4" id="texto-izquierda">
            <p class="text-left">Todos los derechos reservados 2018. <span class="text-info">Code To Win</span></p>
            <p class="text-left">Hackathon InterCorp InRetail  <span class="alert-info">(our best... for now.)</span></p>

        </div>

        <div class="col-md-4">
            <img src="~/Content/img/amarillo_logo.png" class="img-responsive" id="imagen_de_footer" />
        </div>

        <div class="col-md-4" id="texto-derecha">
            <p class="text-right">Evento Realizado en el Auditorio Torre Arequipa UTP.</p>
            <p class="text-right">Gracias por la oportunidad de dejarnos aprender más.</p>
        </div>
    </div>

</footer>